
#contentShow p {
	font-size: 120%;
}

#contentShow span {
	cursor: pointer;
	text-decoration: underline;
}

#edit_words p {
	font-size: 120%;
}

#edit_words span {
	cursor: pointer;
	text-decoration: underline;
}

.familar {
	color: green;
}

.strange {
	color: red;
}
