
#contentShow p {
	font-size: 120%;
}

#contentShow span {
	cursor: pointer;
	text-decoration: underline;
}

.strange {
	color: red;
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
}
